@page
@model RazorPagesMovie.Pages.StudentCases.CreateModel

@{
    ViewData["Title"] = "Create Student Case";
}

<h1>Create Student Case</h1>

<h4>Student Case</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="StudentCase.StudentId" class="control-label">Student</label>
                <select asp-for="StudentCase.StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="StudentCase.StudentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StudentCase.PrescriberId" class="control-label">Prescriber</label>
                <select asp-for="StudentCase.PrescriberId" class="form-control" asp-items="ViewBag.PrescriberId"></select>
                <span asp-validation-for="StudentCase.PrescriberId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StudentCase.OpenedDate" class="control-label">Open Date</label>
                <input asp-for="StudentCase.OpenedDate" class="form-control" />
                <span asp-validation-for="StudentCase.OpenedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StudentCase.CaseReason" class="control-label">Case Reason</label>
                <input asp-for="StudentCase.CaseReason" class="form-control" />
                <span asp-validation-for="StudentCase.CaseReason" class="text-danger"></span>
            </div>

            <div class="form-group">
            <label asp-for="StudentCase.CaseStatus" class="control-label">Case Status</label>
            <select asp-for="StudentCase.CaseStatus" class="form-control">
                <option value="Open">Open</option>
                <option value="In Progress">In Progress</option>
                <option value="Closed">Closed</option>
                <option value="Follow-up Needed">Follow-up Needed</option>
            </select>
            <span asp-validation-for="StudentCase.CaseStatus" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}