@page
@model RazorPagesMovie.Pages.StudentCases.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StudentCase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentCase.StudentCaseId" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="StudentCase.StudentId" class="control-label"></label>
                <select asp-for="StudentCase.StudentId" class="form-control" asp-items="ViewBag.StudentId" aria-required="true"></select>
                <span asp-validation-for="StudentCase.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="StudentCase.PrescriberId" class="control-label"></label>
                <select asp-for="StudentCase.PrescriberId" class="form-control" asp-items="ViewBag.PrescriberId" aria-required="true"></select>
                <span asp-validation-for="StudentCase.PrescriberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentCase.OpenedDate" class="control-label"></label>
                <input asp-for="StudentCase.OpenedDate" class="form-control" />
                <span asp-validation-for="StudentCase.OpenedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentCase.CaseReason" class="control-label"></label>
                <input asp-for="StudentCase.CaseReason" class="form-control" />
                <span asp-validation-for="StudentCase.CaseReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentCase.CaseStatus" class="control-label"></label>
                <input asp-for="StudentCase.CaseStatus" class="form-control" />
                <span asp-validation-for="StudentCase.CaseStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
