@page
@model RazorPagesMovie.Pages.CampusEvents.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CampusEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CampusEvent.CampusEventId" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="CampusEvent.Title" class="control-label">Event Title</label>
                <input asp-for="CampusEvent.Title" class="form-control" aria-required="true"/>
                <span asp-validation-for="CampusEvent.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampusEvent.Description" class="control-label">Event Description</label>
                <input asp-for="CampusEvent.Description" class="form-control" />
                <span asp-validation-for="CampusEvent.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampusEvent.EventDate" class="control-label">Event Date</label>
                <input asp-for="CampusEvent.EventDate" class="form-control" />
                <span asp-validation-for="CampusEvent.EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampusEvent.EventTime" class="control-label">Event Time</label>
                <input asp-for="CampusEvent.EventTime" class="form-control" />
                <span asp-validation-for="CampusEvent.EventTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampusEvent.Location" class="control-label">Event Location</label>
                <input asp-for="CampusEvent.Location" class="form-control" />
                <span asp-validation-for="CampusEvent.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampusEvent.Category" class="control-label">Event Category</label>
                <input asp-for="CampusEvent.Category" class="form-control" />
                <span asp-validation-for="CampusEvent.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampusEvent.SourceLink" class="control-label">Event Link</label>
                <input asp-for="CampusEvent.SourceLink" class="form-control" />
                <span asp-validation-for="CampusEvent.SourceLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
